.git
.git/**

node_modules
node_modules/**

.expo
.expo/**

.export-check
.export-check/**

android/app/build
android/app/build/**

android/.gradle
android/.gradle/**

ios/build
ios/build/**

dist
dist/**

build
build/**

*.apk
*.aab
*.ipa

coverage
coverage/**

logs
logs/**

tmp
tmp/**

cache
cache/**
